<div class="d-flex gap-4 flex-wrap">
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
  <app-item-card
    [itemName]="'Pizza StuffCrust'"
    [itemImageSrc]="'assets/Images/pizza.png'"
    [itemCategory]="'Pizza'"
    [itemPrice]="'$10'"
  ></app-item-card>
</div>
