@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --mainFont: "Poppins";
  --secondaryFont: "Barlow";
  --text-900: #000000;
  --text-400: #333333;
  --text-300: #545454;
  --text-200: #8a8a8a;
  --text-100: #e6e6e6;
}

::ng-deep {
  .p-button:focus {
    box-shadow: none !important;
  }
}
